.order {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 28px;
  width: 370px;
  min-height: 121px;
  position: relative;
  z-index: 1;
}

.order_hide {
  display: none;
}

.order__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  /* Градиентная рамка и свечение */
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ff2a70, #00b7ff) 1;
  box-shadow:
    0 0 10px #00b7ff,
    0 0 20px #ff2a70;
}

.order__author{
  font-size: 13px;
  color: #ff2a70;
  text-shadow: 0 0 4px #ff2a70;
}
.order__name,
.order__price {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0 0 1px #ffffff;
}

.order__name {
  text-align: center;
}

.order__container-text {
  display: flex;
  justify-content: space-between;
}

.order__price_history {
  font-size: 13px;
  color: #ffffffaa;
}

.order__createAt {
  text-align: center;
  color: #ffffff6e;
  font-size: 13px;
  font-weight: 500;
}

.order__order-status {
  color: #00b7ff;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  text-shadow: 0 0 4px currentColor;
}

.order__order-status_not-ready {
  color: #ff2a70;
  animation: pulse-red 1.2s infinite;
}

.order__order-status_ready {
  color: #00b7ff;
}

.order__done-btn {
  position: absolute;
  top: 25%;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url("../../images/btn-done.svg") no-repeat center / contain;
  border: none;
  cursor: pointer;
  filter: drop-shadow(0 0 6px #00ff62);
  transition: transform 0.2s;
  animation: pulse-red 1.2s infinite;
}

.order__done-btn:hover {
  transform: scale(1.1);
}

.order__print-receipt {
  margin: 0 auto 10px;
  width: 70%;
  height: 43px;
  font-size: 17px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 400;
  background: #000;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ff2a70, #00b7ff) 1;
  box-shadow: 0 0 8px #00b7ff, 0 0 16px #ff2a70;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.order__print-receipt:hover {
  opacity: 0.9;
  box-shadow: 0 0 12px #ff2a70, 0 0 24px #00b7ff;
}