.order {
  margin: 0 auto;
  padding-top: 28px;
  width: 304px;
  min-height: 121px;
}
.order_hide {
  display: none;
}
.order__container {
  margin: 0 auto;
  position: relative;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0.5px solid #d82e2e;
}
.order__author {
  margin: 0;
  margin-left: 10px;
  padding-top: 5px;
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.order__name {
  margin: 0 auto;
  margin-top: 5px;
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order__container-text {
  display: flex;
  justify-content: space-between;
}
.order__price {
  margin: 0;
  text-align: start;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order__price_history {
  font-size: 13px;
  color: #ffffff;
}
.order__done-btn {
  margin: 0 auto;
  position: absolute;
  top: 25%;
  bottom: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url("../../images/btn-done.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.order__createAt {
  margin: 0;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #ffffff6e;

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order__order-status {
  margin: 0;
  text-align: center;
  margin-right: 10px;
  padding-top: 5px;
  color: #2cd450d0;

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order__order-status_not-ready {
  color: #f57f1ee3;
}
.order__print-receipt {
  margin: 0;
  height: 40px;
  background-color: #ffffff;
  border: none;
  color: #000000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: opacity 200ms ease-in-out;
}
.order__print-receipt:hover {
  opacity: .7;
  cursor: pointer;
}
