.order {
  margin: 0 auto;
  padding-top: 28px;
  width: 304px;
  min-height: 121px;
}
.order_hide {
  display: none;
}
.order__container {
  margin: 0 auto;
  position: relative;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 0.5px solid #d82e2e;
}
.order__author {
  margin: 0;
  margin-left: 10px;
  padding-top: 5px;
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.order__name {
  margin: 0 auto;
  margin-top: 5px;
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order__price {
  margin: 0;
  text-align: start;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #fff;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.order__done-btn {
  margin: 0 auto;
  position: absolute;
  top: 40%;
  bottom: 0;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url("../../images/btn-done.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
