.myOrder {
  margin: 30px auto 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;

  /* Рамка и свечение */
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #ff2a70, #00b7ff) 1;
  box-shadow: 0 0 10px #00b7ff, 0 0 20px #ff2a70;
}

.myOrder__container {
  padding: 15px 10px;
}

.myOrder__title {
  margin-left: 10px;
  text-align: start;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-shadow: 0 0 4px #ffffff;
}

.myOrder__text-name {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-shadow: 0 0 4px #ffffff;
}

.myOrder__text {
  margin-left: 10px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-shadow: 0 0 3px #ffffff;
}

.myOrder__price {
  margin-right: 10px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 0 0 4px #ffffff;
}

.myOrder__text_done {
  margin-right: 10px;
  color: #58c23b;
  text-shadow: 0 0 4px #58c23b;
}

.myOrder__text_not-done {
  margin-right: 10px;
  color: #f83434;
  text-shadow: 0 0 4px #f83434;
  animation: pulse-red 1.2s infinite;
}

.myOrder__text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myOrder__text_date {
  margin-top: 5px;
  color: #ffffff80;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 0 0 2px #ffffff80;
}

/* Анимация пульсации красного свечения */
@keyframes pulse-red {
  0% {
    text-shadow: 0 0 4px #f83434;
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 10px #f83434;
    opacity: 0.7;
  }
  100% {
    text-shadow: 0 0 4px #f83434;
    opacity: 1;
  }
}