.popupChangeInfo {
  margin: 0;
  width: 450px;
  height: auto;
  min-height: 250px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  justify-content: center;
  align-items: center;

  background-color: #1a1a1a;
  border: 1px solid #00b7ff;;
  box-shadow:
    0 0 20px #ff2a70,
    0 0 35px #00b7ff;
  border-radius: 10px;
  padding: 20px;
  z-index: 120;
}

.popupChangeInfo_active {
  display: flex;
  animation: fadeInPop 0.3s ease-out;
}

@keyframes fadeInPop {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.popupChangeInfo__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.popupChangeInfo__title {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
  text-shadow: 0 0 4px #00b7ff;;
}

.popupChangeInfo__input,
.popupChangeInfo__select {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  background-color: #2b2b2b;
  color: #fff;
  border: 1px solid #fff;
}

.popupChangeInfo__submit-btn {
  width: 160px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.popupChangeInfo__submit-btn:hover {
  opacity: 0.8;
}

.popupChangeInfo__btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  background-image: url(../../images/btn-close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
}

.popupChangeInfo__btn-close:hover {
  opacity: 0.8;
}

.popupChangeInfo__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.popupChangeInfo__text {
  color: #fff;
}

.popupChangeInfo__span {
  font-size: 10px;
  color: #aaa;
}

.popupChangeInfo__overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 119;
  /* ниже, чем попап */
  animation: fadeOverlay 0.3s ease-in-out;
}

@keyframes fadeOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popupChangeInfo__overlay_active{
  display: block;
}