.popupConfirm {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.popupConfirm_active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popupConfirm__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 0;
}

.popupConfirm__container {
  position: relative;
  z-index: 2;
  width: 450px;
  height: 200px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow:
    0 0 15px #00b7ff,
    0 0 25px #ff2a70;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Inter, sans-serif;
  padding: 20px;
}

.popupConfirm__confirm-title {
  font-size: 22px;
  text-align: center;
  margin: 0 0 10px;
  text-shadow: 0 0 6px #00b7ff;
}

.popupConfirm__confirm-text {
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  color: #ccc;
}

.popupConfirm__btn-container {
  margin-top: 25px;
  display: flex;
  gap: 30px;
}

.popupConfirm__btn-confirm {
  width: 140px;
  height: 40px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.popupConfirm__btn-confirm:hover {
  opacity: 0.8;
}