.orders {
  margin: 0 auto;
  min-height: 400px;
  padding-bottom: 40px;
  position: relative;
}

.orders__container {
  margin: 0;
}

.orders__title {
  margin: 0;
  margin-top: 59px;
  text-align: center;
  color: #ff2a70;
  text-shadow: 0 0 4px #ff2a70;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.orders__title_bar-theme {
  color: #00b7ff;
  text-shadow: 0 0 4px #00b7ff;
}

.orders__btns {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.orders__btn-food {
  margin: 0;
  min-width: 100px;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: transparent;
  border: 2px solid #ff2a70;
  transition: 0.3s ease;
}

.orders__btn-food:last-of-type {
  border-color: #00b7ff;
}

.orders__btn-food:hover {
  cursor: pointer;
}

.orders__btn-food_active {
  background: rgba(255, 42, 112, 0.2);
  box-shadow: 0 0 8px #ff2a70;
  color: #ffffff;
  text-shadow: 0 0 6px #ff2a70;
}

.orders__btn-food:last-of-type.orders__btn-food_active {
  background: rgba(0, 183, 255, 0.2);
  box-shadow: 0 0 8px #00b7ff;
  color: #ffffff;
  text-shadow: 0 0 6px #00b7ff;
}