.orders {
  margin: 0 auto;
  min-height: 400px;
  padding-bottom: 40px;
}
.orders__container {
  margin: 0;
}
.orders__title {
  margin: 0;
  margin-top: 38px;
  text-align: center;
  color: #ffc37f;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.orders__popup-open {
  margin: 0;
  position: absolute;
  right: 30px;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  background-image: url(../../images/addItemBtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
