.orders {
  margin: 0 auto;
  min-height: 400px;
  padding-bottom: 40px;
  position: relative;
}
.orders__container {
  margin: 0;
}
.orders__title {
  margin: 0;
  margin-top: 59px;
  text-align: center;
  color: #ffffff;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.orders__btns {
  margin: 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.orders__btn-food {
  margin: 0;
  min-width: 70px;
  height: 30px;
  background: none;
  border: none;
  background-color: #000000;
  border: 1px solid #d82e2e;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.orders__btn-food:last-of-type {
  border: 1px solid #2ea2d8;
}
.orders__btn-food:hover {
  cursor: pointer;
}
.orders__btn-food_active {
  opacity: 0.7;
}
