.userList {
  margin: 0 auto;
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.userList__title {
  margin: 0;
  text-align: center;
  color: #ff2a70;
  text-shadow: 0 0 4px #ff2a70;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.userList__title_btn-theme {
  color: #00b7ff;
  text-shadow: 0 0 4px #00b7ff;
}

.userList__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}