.app {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.app__neon{
  background-image: url(../../images/Neon.png);
}
.app__elvis{
  background-image: url(../../images/Elvis.png);
}