.basket {
  margin: 0 auto;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
}
.basket__title {
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 56px;
  color: #ffffff;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.basket__container {
  margin: 0;
  margin-top: 100px;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 204px;
}
.basket__price {
  margin: 0;
  color: #fff;

  font-family: Russo One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basket__price-limit {
  margin: 0;
  color: #3a9738;
  font-family: Russo One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.basket__btn-order {
  margin: 0;
  color: #D82E2E;

  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border: 1px solid #D82E2E;
  border-radius: 10px;
  background: none;
  cursor: pointer;
}
.basket__link-back {
  margin: 0;
  color: #FFF;

  font-family: Russo One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}
.basket__btn-order_disabled {
  opacity: 0.5;
}
