.header {
  margin: 0 auto;
  position:sticky;
  top: 0;
  z-index: 10;
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
}
.header__container {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__logo {
  margin: 0;
  width: 200px;
}
.header__admin-links {
  margin: 0;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__link {
  margin: 0;
  color: #fff;

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}
.header__account-name {
  margin: 0;
  margin-right: 22px;
  color: #d82e2e;

  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__account-name_bar {
  color: #eaa51a;
}
.app__text-limit_text {
  color: #fff;
  font-family: Inter;
}
.app__text-orders {
  margin: 0;
  font-family: Inter;
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.5px solid #fff;
}
.header__link_menu{
  margin: 0;
  margin-right: 30px;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}
.header__basket {
  margin: 0;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  right: 50px;
}
.header__basket-ico {
  margin: 0;
  width: 20px;
  height: 20px;
}
.header__basket-text {
  margin: 0;
  margin-left: 20px;
  background-color: #00000079;
  position: absolute;
  text-align: center;
  color: #fff;

  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__text-limit {
  margin: 0;
  text-align: center;
  color: #eaa51a;

  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
