@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(../src/vendor/normalize.css);
body {
  margin: 0 auto;
  max-width: 768px;
  background-color: #000412;
  position: relative;
  font-family: "inter", Arial, Helvetica, sans-serif;
}
.app__basket {
  margin: 0;
  position: absolute;
  bottom: 41px;
  right: 22px;
}
.app__basket-text {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
