.foodList {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.foodList__container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 32px;
}

.foodList__title {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ff2a70;
  text-shadow: 0 0 3px #ff2a70;

  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.foodList__title_bar {
  color: #00b7ff;
  text-shadow: 0 0 3px #00b7ff;
}

.foodList__popup-open {
  margin: 0;
  position: fixed;
  top: 28%;
  right: 50px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url(../../images/addItemBtn.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 500;
}
.foodList__popup-open:hover{
  cursor: pointer;
}