.navLinks {
  margin: 0;
  position: sticky;
  top:140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.navLinks__container {
  margin: 0 auto;
  height: 500px;
  overflow: auto;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navLinks__btn {
  margin: 0;
  width: 205px;
  min-height: 100px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-bottom: 1px solid #483838;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: opacity 200ms ease-in-out;
}
.navLinks__btn:hover {
  cursor: pointer;
}
.navLinks__btn_active {
  background-color: #d82e2e;
}
.navLinks__btn_activeBar {
  background-color: #eaa51a;
}
.navLinks__btns {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}
.navLinks__btn-food {
  margin: 0;
  min-width: 70px;
  height: 30px;
  background: none;
  border: none;
  background-color: #000000;
  border: 1px solid #d82e2e;
  color: #fff;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.navLinks__btn-food:last-of-type {
  border: 1px solid #eaa51a;
}
.navLinks__btn-food:hover {
  cursor: pointer;
}
.navLinks__btn-food_active {
  opacity: 0.7;
}
